<div class="main">
  <div class="Left-side">
    <div class="Bill">
      <label for="">Bill</label>
      <img src="../assets/images/icons8-us-dollar-96.png" alt="" />
      <input class="inputer" type="number" [(ngModel)]="bill" />
    </div>
    <div class="Select">
      <label for="">Select Tip %</label>
      <div class="buttons">
        <button *ngFor="let number of buttonArray" (click)="enterTip(number)">
          {{ number }}%
        </button>
        <input
          type="{{ typeOfInput }}"
          [value]="inputValue"
          [ngClass]="{ active: isActive }"
          max="100"
          min="0"
          [(ngModel)]="customSaver"
          (click)="dissapearCustom()"
        />
        <h2 class="custom" [ngStyle]="{display:customVisibility}" (click)="dissapearCustom()">CUSTOM</h2>
      </div>
    </div>
    <div class="person">
      <div>
        <label>Number of People</label>
        <label style="color: red" *ngIf="perOutLine">Can’t be zero</label>
      </div>
      <img src="../assets/images/icons8-person-64.png" alt="" />
      <input
        class="inputer"
        [ngClass]="{ perLine: perOutLine }"
        [(ngModel)]="person"
        type="number"
        max="100"
        min="0"
      />
    </div>
  </div>

  <div class="Right-side">
    <div class="kotlet">
      <div class="tip-amount">
        <div>
          <p>Tip Amount</p>
          <label for="">/ person</label>
        </div>
        <div>
          <p>Total</p>
          <label for="">/ person</label>
        </div>
      </div>
      <div class="tip-amount">
        <h1>${{ tip }}</h1>
        <h1>${{ total }}</h1>
      </div>
    </div>
    <button (click)="reset()">RESET</button>
  </div>
</div>
